<marquee><h1>Welcome</h1></marquee>
<style>
body {
      background: aliceblue;
    }
  </style>
<style>
	body {
		color:blue

	}
</style>
<div class="container p-3 my-3 border">
<div class="row">
	<div class="text-center">
<div class="btn-group">
  <button type="button" class="btn btn-primary"><%=link_to 'Admin', product_index_path %></button>
  <button type="button" class="btn btn-primary"><%=link_to 'Customer', home_path %></button>
</div>
</div>

  <div class="col-xs-6 col-sm-4"></div>
  
</div>
</div>

<%#link_to 'login', user_session_path %>