<%= form_tag(search_path, method: "get", remote: true) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter search term" %>
  <%= submit_tag "Search" %>
<% end %>
<%# form_tag product_path, :method => 'get', :id => "product_search" do %>
  <!-- <p>
    <%# text_field_tag :search, params[:search] %>
    <%# submit_tag "Search", :name => nil %>
  </p>
  <div id="product"><%# render 'product' %></div>
<%# end %> -->
